.popup_image_background{
    width: 70%;
    height: 70%;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
7
@media screen and  (max-width:968px){
    .popup_image_background{
        width: 70%;
        height: 70%;
    }
  }