.popup_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    width: 430px;
    height: 330px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and  (max-width:968px){
    .popup_image{
        width: 282px;
        height: 322px;
    }
}