.popup_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    width: 70%;
    height: 70%;
    text-align: center;
    color: white;
    background-position: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and  (max-width:968px){
    .popup_image{
        width: 70%;
        height: 70%;
    }
}