.popup_image_background{
    width: 430px;
    height: 330px;
    background-image: url('https://pictures.s3.yandex.net/frontend-developer/cards-compressed/arkhyz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

@media screen and  (max-width:968px){
    .popup_image_background{
        width: 282px;
        height: 322px;
    }
  }