.profile{
   display: flex;
   flex-direction: row;
   justify-content: space-between; 
   margin: 0 0 47px 0;
   font-family: 'Inter', Arial, sans-serif;
}

@media screen and  (max-width:968px){
   .profile{
      flex-direction: column;
      align-items: center;
   }
 }