.page__content{
    width: 880px;
    margin: 0 auto;
}
@media screen and  (max-width:968px){
    .page__content{
        width: 602px;
    }
}

@media screen and  (max-width:720px){
    .page__content{
        width: 300px;
    }
}