.popup__close{
    position: absolute;
    width: 32px;
    height: 32px;
    top: -38px;
    right: -35px;
    background-color: black;
    border: none;
}
.popup__close:hover{
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}
@media screen and  (max-width:968px){
    .popup__close{
        width: 20px;
        height: 20px;
        top: -35px;
        right: 6px;
    }
  }