.profile__name{
    color: white;
    font-size: 42px;
    line-height: 48px;
    font-weight: normal;
    height: 50px;
    margin: 25px 0 0 0;
    text-align: center;
    max-width: 336px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and  (max-width:968px){
    .profile__name{
        height: 40px;
        font-size: 27px;
        line-height: 33px;
        text-align: none;
        margin-top: 25px;
        margin-left: 22px;
    }
  }