.profile__info{
    display: grid;
    grid-template-columns: 1fr 24px;
    max-height: 120px;  
}

@media screen and  (max-width:968px){
    .profile__info{
       align-items: center;
       grid-template-columns: 210px 18px;
    }
  }